<p *ngIf="!questionService.question"><em>Loading...</em></p>

<div class="text-center" *ngIf="questionService.question">
  <div class="text-center question">{{questionService.question.questionBody}}</div>
  <button (click)="getNextQuestion(questionService.question.leftChoice)" class="button btn btn-primary">{{questionService.question.leftChoice}}</button>
  <button (click)="getNextQuestion(questionService.question.rightChoice)" class="button btn btn-success">{{questionService.question.rightChoice}}</button>
</div>
