<div class="container separator" style="height: 0px">
  <h5>Player Choices <button class="btn btn-primary" style="float:right" (click)="btnShowDiagram();">Show in Diagram</button></h5>

  <ul class="progress-tracker progress-tracker--vertical" style="margin-top: 0px;">
    <li *ngFor="let choice of questionService.playerChoices" class="progress-step is-complete">
      <div class="progress-marker"></div>
      <div class="progress-text">
        <h6 class="progress-title">{{choice.question}}</h6>
        {{choice.choice}}
      </div>
    </li>
  </ul>

</div>
